
<div class="row">

    <div id='description'>

    </div>
    <script src="..\Content\Lib\Openlayersv432.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.2.0/ext-all.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbLL3f4bc7BzmmPcbQn-JNw0Ftld59ibA&sensor=false"></script>
    <script src="http://svn.osgeo.org/metacrs/proj4js/trunk/lib/proj4js-compressed.js"></script>
    <script>
        Ext.Loader.setConfig({
            enabled: true,
            paths: {
                'GeoExt': '../Content/Lib/GeoExt/src'
            }
        });
    </script>
    <script src="..\Scripts\Mapa\Mapa.js"></script>
    <script src="..\Scripts\Mapa\Functions.js"></script>


</div>

